:root{
  --color-primary: #E3B748;
  --color-black: black;
  --color-white: white;

}


*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0
}

html, body{
  height:100%;
  font-family: 'Inter', sans-serif;
}


body{
  line-height:1.5;
  background-color: #1D1D1D;
  color: var(--color-white);
  overflow-x:hidden;
}
  